*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(241, 241, 241);
}
.logo{
    display: flex;
    margin-bottom: 30px;
   
  
}
.logo h1{
    color: rgb(4, 58, 80);
    margin-top: 20px;
    margin-left: 10px;
}
.header{
    text-align: center;
    font-weight: 800;

}
.header h1{
    margin-bottom: 40px;
    margin-top: 20px;
}
.header h4{
      margin-bottom: 20px;
}
.header i{
    margin-top: 10px;
    margin-bottom: 30px;
}
.body{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 60px;
    margin: 60px;
    width: 20%;

}
.marrigeIssue{
   
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
}