*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background-color: rgb(241, 241, 241);
    
}
.logo{
    display: flex;
    margin-bottom: 30px;
   
  
}
.logo h1{
    color: rgb(4, 58, 80);
    margin-top: 20px;
    margin-left: 10px;
}
.header{
    text-align: center;
    font-weight: 800;

}
.header h1{
    margin-bottom: 40px;
    margin-top: 20px;
}
.header h4{
    margin-bottom: 20px;
}
.header i{
    margin-top: 10px;
    margin-bottom: 30px;
}
.body{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 60px;
    margin: 60px;
    width: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    

}
.body img{
    border-radius: 8px;
}

.marrigeIssue{
   
    background-color: rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}


.feelingLonely{
    background-color: rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}


.trauma{
    background-color: rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}


.overthinking{
    background-color:rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}


.sadness{
    background-color: rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}


.anixity{
    background-color:rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}


.stress{
    background-color: rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}


.relationshipproblem{
    background-color:rgb(228, 227, 225);
    padding: 20px;
    border-radius: 8px;
}
